.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px;
  grid-gap: 8px;

  :global(.field) {
    grid-column: span 2;
    margin-bottom: 0;
  }

  :global(.field[data-field-type="select"]), 
  :global(.field[data-field-type="color"])  {
    grid-column: span 1;
  }

  :global(.label)::first-letter {
    text-transform: uppercase;
  }

  :global(.label) {
    text-transform: lowercase;
  }
}
