.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px 0;
  grid-gap: 8px;

  :global(.field) {
    grid-column: span 2;
    margin-bottom: 0;
  }

  :global(.field[data-field-type='select']),
  :global(.field[data-field-type='checkbox']),
  :global(.field[data-field-type='color']) {
    grid-column: span 1;
  }

  :global(.field[data-field-type='checkbox']) {
    display: flex;
    flex-flow: column nowrap;
  }

  :global(.label)::first-letter {
    text-transform: uppercase;
  }

  :global(.label) {
    font-weight: 700;
    text-transform: lowercase;
  }

  :global(.field > .checkbox) {
    min-height: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
